Release/
Debug/
RC/
KRAWLER/KRAWLER Engine/include/box2d/
*.swp
*.~
*.opensdf
*.sdf
*.VC.opendb
.suo
*.VC.db
*/ipch/
.vscode/
*.~
*.un~
*.ipch
*.db-shm
*.db-wal
profiler_log.txt
.gitignore~
KRAWLER/KRAWLING/output.txt
